RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# If the request is not already for /public
RewriteCond %{REQUEST_URI} !^/animenigeria/public/

# Redirect everything to public/
RewriteRule ^(.*)$ public/$1 [L]